<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^vod(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="play.php\?play={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^bplay/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="bplay.php\?play={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^wap/vod(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="wap/play.php\?play={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^wap/bplay/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="wap/bplay.php\?play={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
